.callout {
  &.large {
    padding: 1rem;
    @include breakpoint(medium up) {
      padding: 3rem;
    }
  }
  &.dark {
    background-color: $black;
  }
}

.callout-homepage {
  margin-top: -5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.callout-illustration {
  width: 150px;
  height: 150px;
}
