.card-products {
  img {
    height: 250px;
    width: 200px;
  }
  &:hover {
    .title,
    .description {
      color: $primary-color;
    }
  }
  .title {
    @extend h6;
    @include truncate();
  }
  .card-section {
    padding-left: 0;
    padding-right: 0;
  }
}
