$z-index-navbar: 900;
$z-index-darkroom: 500;

.navbar {
  background-color: $black;
  position: relative;


  .brand-title {
  }

  .navbar-search {
    padding: 1rem;
  }
  a {
    font-family: $header-font-family;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    text-decoration: none;
    color: $white;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      span {
        border-color: $medium-gray;
      }
    }
    span {
      border-bottom: 4px solid $dark-gray;
    }
  }
}
