$z-index-navbar: 900;
$z-index-darkroom: 500;

.navbar {
  background-color: $black;
  position: relative;
  z-index: $z-index-navbar;
  margin-bottom: 2rem;

  .brand-title {
  }

  .navbar-search {
    padding: 1rem;
  }
  a {
    font-family: $header-font-family;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    text-decoration: none;
    color: $white;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      span {
        border-color: $medium-gray;
      }
    }
    span {
      border-bottom: 4px solid $dark-gray;
    }
  }
  .search-input {
    border-color: transparent;
    &:focus {
      border-color: $blue;
    }
  }
}

.navbar-darkroom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-darkroom;
  background-color: $reveal-overlay-background;
  display: none;
}
