$purple: #5F21B7;
$blue:   #0028ff;

$foundation-palette: (
  primary: $blue,
  secondary: $purple,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-gray: #F2F2F2;
$medium-gray: #cacaca;
$dark-gray: #3F3F44;
$black: #111111;
$white: #fefefe;

$body-background: $light-gray;
$body-font-color: $black;
