// 1. Global
// ---------

$body-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$global-flexbox: true;
$font-weight-bolder: 700;
$font-weight-normal: 400;
$global-weight-normal: $font-weight-normal;



// 4. Base Typography
// ------------------

$header-font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;
$header-font-weight: $font-weight-bolder;

$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
);
$header-text-rendering: optimizeLegibility;

$anchor-color: $blue;
$anchor-color-hover: scale-color($anchor-color, $lightness: 30%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;



// 11. Button
// ----------

$button-background: $blue;
$button-background-hover: scale-color($button-background, $lightness: 30%);
$button-background-hover-lightness: 30%;
$button-hollow-hover-lightness: 30%;



// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 0%;
$callout-border: 0px solid rgba($black, 0.25);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-link-tint: 30%;



// 14. Card
// --------

$card-border: 0px solid $light-gray;



// 19. Forms
// ---------

$input-border: 3px solid $medium-gray;
$input-border-focus: 3px solid $blue;
$input-shadow: none;
$input-shadow-focus: none;



// 29. Reveal
// ----------

$reveal-border: 1px solid $white;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, 0.4);



// 33. Tabs
// --------

$tab-color: $black;
$tab-background-active: $white;
$tab-active-color: $blue;
$tab-item-font-size: rem-calc(14);
// $tab-item-background-hover: $white;



// 666. Motion-ui
// --------

/// Default speed that transitions and animations play at, along with values for modifier classes to change the speed.
/// @type Map
$motion-ui-speeds: (
  default: 300ms,
  slow: 750ms,
  fast: 250ms,
);

/// Default delay to add before motion, along with values for modifier classes to change the delay.
/// @type Map
$motion-ui-delays: (
  default: 0,
  short: 300ms,
  long: 700ms,
);
